node-red-flow.json
[{"id":"5fcb026d.3d0f5c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"18cb9022.b233","type":"debug","z":"5fcb026d.3d0f5c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":300,"wires":[]},{"id":"da8a7496.ffde98","type":"ui_template","z":"5fcb026d.3d0f5c","group":"224f5e85.408562","name":"","order":0,"width":"6","height":"6","format":"<style>\n.led{\n    margin              : 0 auto;\n    width               : 20px;\n    height              : 20px;\n    background-color    : #ABFF00;\n    border-radius       : 50%;\n}\n</style>\n \n<h3>Machines</h3>\n \n<div id=\"myHTMLWrapper\"> </div>\n \n<script>\n    var wrapper = document.getElementById(\"myHTMLWrapper\");\n        (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            //console.dir(data.stats[0].label);\n\n            var myHTML = '<table>';\n        \n            var entries = 0;\n            for( entries; entries < data.update.length ; entries++){\n                myHTML += '<tr>';\n                myHTML += '<td>' + data.update[entries].server + '</td>';\n                myHTML += '<td width=\"5%\"></td>';\n                myHTML += '<td>' + data.update[entries].role + '</td>';\n                myHTML += '<td width=\"5%\"></td>';\n                myHTML += '<td>'+ data.update[entries].health + '</td>';\n                myHTML += '<td><div class=\"led\" style=\"background-color:' + data.update[entries].indicator + '\"' +'</div></td>';\n                myHTML += '</tr>';\n            }\n            \n            myHTML += '</table>';\n            \n        wrapper.innerHTML = myHTML\n \n        });\n                    \n    })(scope);\n    \n \n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":380,"wires":[[]]},{"id":"dd60404a.767e7","type":"udp in","z":"5fcb026d.3d0f5c","name":"","iface":"","port":"7000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":300,"wires":[["aa644b2a.31fbe8"]]},{"id":"aa644b2a.31fbe8","type":"json","z":"5fcb026d.3d0f5c","name":"","property":"payload","action":"","pretty":true,"x":250,"y":300,"wires":[["18cb9022.b233","da8a7496.ffde98"]]},{"id":"224f5e85.408562","type":"ui_group","z":"","name":"TD Status","tab":"dd66c5bc.660718","disp":true,"width":"6","collapse":false},{"id":"dd66c5bc.660718","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]